.row {
    padding: 15px;
}

.btns {
    padding: 0 10px 10px 0px;
    font-size: 1.8em;
    color: #313131;
}

.btns:hover {
    color: red;
}

.enabled {
    opacity: 1
}

.disabled {
    opacity: 0.2;
    cursor: default;
}