<div class="row">
  <div class="col-xs-3">
	 <div class="users">

	 </div>

	 <!--(selected)="onFilteredSelection()" (iconClicked)="onShowUserInfo($event)" [contentId]="getBusinessesId()" [icon]="'fa-user'" "-->
	 <SimpleList *ngIf="orderList" #simpleList [list]="orderList" (selected)="onSelection()" [content]="getContent" ></SimpleList>
	 <Loading *ngIf="!orderList" [src]="'assets/preload6.gif'" [style]="{'margin-top': '150px'}"></Loading>
  </div>

  <div class="col-xs-9 userView">
	 <OrderDetails #orderList *ngIf="orderList" [selectedOrder]="selectedOrder"></OrderDetails>
	 <Loading *ngIf="!orderList" [src]="'assets/preload6.gif'" [style]="{'margin-top': '150px'}"></Loading>
  </div>
</div>