<div *ngIf="!selectedOrder && !loading">
  <h2>no orders selected</h2>
</div>
<Loading *ngIf="loading" [size]="75" [style]="{'margin-top': '250px'}"></Loading>
<div *ngIf="selectedOrder && !loading">
  <div *ngIf="isCartOrder" class="row bs-wizard" style="border-bottom:0;">

	 <div class="row bs-wizard" (click)="$event.preventDefault()" style="border-bottom:0;">

		<div class="col-xs-3 bs-wizard-step" [ngClass]="{complete: steps[0]}">
		  <div class="text-center bs-wizard-stepnum">Step 1</div>
		  <div class="progress"><div class="progress-bar"></div></div>
		  <a href="#" class="bs-wizard-dot"></a>
		  <div class="bs-wizard-info text-center">{{stepsDescription[0]}}</div>
		</div>

		<div class="col-xs-3 bs-wizard-step" [ngClass]="{complete: steps[1]}">
		  <div class="text-center bs-wizard-stepnum">Step 2</div>
		  <div class="progress"><div class="progress-bar"></div></div>
		  <a href="#" class="bs-wizard-dot"></a>
		  <div class="bs-wizard-info text-center">{{stepsDescription[1]}}</div>
		</div>

		<div class="col-xs-3 bs-wizard-step" [ngClass]="{complete: steps[2]}">
		  <div class="text-center bs-wizard-stepnum">Step 3</div>
		  <div class="progress"><div class="progress-bar"></div></div>
		  <a href="#" class="bs-wizard-dot"></a>
		  <div class="bs-wizard-info text-center">{{stepsDescription[2]}}</div>
		</div>

		<div class="col-xs-3 bs-wizard-step" [ngClass]="{complete: steps[3]}">
		  <div class="text-center bs-wizard-stepnum">Step 4</div>
		  <div class="progress"><div class="progress-bar"></div></div>
		  <a href="#" class="bs-wizard-dot"></a>
		  <div class="bs-wizard-info text-center">{{stepsDescription[3]}}</div>
		</div>
	 </div>


  </div>
  <div class="row">
	 <div class="col-xs-12">
		<div class="invoice-title">
		  <h2>Invoice</h2>
		  <h5>Placed on {{selectedOrder.getDate()}}</h5>
		  <h3 class="pull-right">Order: {{selectedOrder.getOrderId()}} </h3>
		</div>
		<hr/>
		<div class="row">
		  <div class="col-xs-6">
			 <address>
				<strong>Billed To:</strong><br>
				<span class="whiteReplace">
					{{selectedOrder.getBilling()}}
				</span>
			 </address>
		  </div>
		  <div class="col-xs-6 text-right">
			 <address>
				<strong>Shipped To:</strong><br>
				<span class="whiteReplace">
					{{selectedOrder.getShipping()}}
				</span>
			 </address>
		  </div>
		</div>
		<div class="row">
		  <div class="col-xs-6">
			 <address>
				<strong>e-mail:</strong>
				{{selectedOrder.getEmail()}}
			 </address>
			 <div *ngIf="isCartOrder">
				<strong>tracking:</strong><br>
				{{selectedOrder.getTracking()}}
				<br/>
				<br/>
			 </div>
		  </div>
		  <div class="col-xs-6 text-right">
		  </div>
		</div>
	 </div>
  </div>

  <div class="row">
	 <div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
			 <h3 class="panel-title"><strong>Order summary</strong></h3>
		  </div>
		  <div class="panel-body">


			 <simpleGridTable #userSimpleGridTable>
				<thead>
				<tr>
				  <th></th>
				  <th>product</th>
				  <th>qty</th>
				  <th>price</th>
				  <th>total</th>
				</tr>
				</thead>
				<tbody>
				<!--<tr class="simpleGridRecord" *ngFor="let item of renderPrivilegesTable(privilegesItem); let index=index">-->
				  <!--<td style="width: 70%" [editable]="false" simpleGridData [processField]="renderTableName()" [item]="item"></td>-->
				  <!--<td style="width: 10%" (changed)="onPrivilegeChange($event)" [item]="{item: privilegesItem, index: index, PrivModeEnum: PrivModeEnum.DEL}" simpleGridDataChecks [checkboxes]="renderPrivilegesChecks(privilegesItem, index, PrivModeEnum.DEL)"></td>-->
				  <!--<td style="width: 10%" (changed)="onPrivilegeChange($event)" [item]="{item: privilegesItem, index: index, PrivModeEnum: PrivModeEnum.ADD}" simpleGridDataChecks [checkboxes]="renderPrivilegesChecks(privilegesItem, index, PrivModeEnum.ADD)"></td>-->
				  <!--<td style="width: 10%" (changed)="onPrivilegeChange($event)" [item]="{item: privilegesItem, index: index, PrivModeEnum: PrivModeEnum.UPD}" simpleGridDataChecks [checkboxes]="renderPrivilegesChecks(privilegesItem, index, PrivModeEnum.UPD)"></td>-->
				<!--</tr>-->
				</tbody>
			 </simpleGridTable>


			 <!--<div class="table-responsive">-->
				<!--<table class="table table-condensed">-->
				  <!--<thead>-->
				  <!--<tr>-->
					 <!--<td><strong>Item</strong></td>-->
					 <!--<td class="text-center"><strong>Price</strong></td>-->
					 <!--<td class="text-center"><strong>Quantity</strong></td>-->
					 <!--<td class="text-right"><strong>Totals</strong></td>-->
				  <!--</tr>-->
				  <!--</thead>-->
				  <!--<tbody>-->
				  <!--&lt;!&ndash; foreach ($order->lineItems as $line) or some such thing here &ndash;&gt;-->
				  <!--<tr>-->
					 <!--<td>BS-200</td>-->
					 <!--<td class="text-center">$10.99</td>-->
					 <!--<td class="text-center">1</td>-->
					 <!--<td class="text-right">$10.99</td>-->
				  <!--</tr>-->
				  <!--<tr>-->
					 <!--<td>BS-400</td>-->
					 <!--<td class="text-center">$20.00</td>-->
					 <!--<td class="text-center">3</td>-->
					 <!--<td class="text-right">$60.00</td>-->
				  <!--</tr>-->
				  <!--<tr>-->
					 <!--<td>BS-1000</td>-->
					 <!--<td class="text-center">$600.00</td>-->
					 <!--<td class="text-center">1</td>-->
					 <!--<td class="text-right">$600.00</td>-->
				  <!--</tr>-->
				  <!--<tr>-->
					 <!--<td class="thick-line"></td>-->
					 <!--<td class="thick-line"></td>-->
					 <!--<td class="thick-line text-center"><strong>Subtotal</strong></td>-->
					 <!--<td class="thick-line text-right">$670.99</td>-->
				  <!--</tr>-->
				  <!--<tr>-->
					 <!--<td class="no-line"></td>-->
					 <!--<td class="no-line"></td>-->
					 <!--<td class="no-line text-center"><strong>Shipping</strong></td>-->
					 <!--<td class="no-line text-right">$15</td>-->
				  <!--</tr>-->
				  <!--<tr>-->
					 <!--<td class="no-line"></td>-->
					 <!--<td class="no-line"></td>-->
					 <!--<td class="no-line text-center"><strong>Total</strong></td>-->
					 <!--<td class="no-line text-right">$685.99</td>-->
				  <!--</tr>-->
				  <!--</tbody>-->
				<!--</table>-->
			 <!--</div>-->
		  </div>
		</div>
	 </div>
  </div>
</div>