<div [ngSwitch]="switchView">
    <div *ngSwitchCase="'SELECT_REPORT'" style="padding: 10px">
        <small class="debug">{{me}}</small>
        <button (click)="onReport()" [ngClass]="{disabled: reportDisabled}"
                class="btn btn-circle btn-primary pull-right">run report
        </button>
        <h4>Select report</h4>
        <p>Month selected: {{selectedDate}} </p>
        <p-selectButton [options]="reportTypes" [(ngModel)]="selectedReportName" (onChange)="onReportTypeClicked($event)"></p-selectButton>
        <hr/>
        <!-----------------
            report selector
        ------------------->
        <simpleGridTable #simpleGridReportSelector>
            <thead>
            <tr>
                <th [sortableHeader]="['Value','absolutMonth']" [sort]="sort">mm/yy</th>
                <th [sortableHeader]="['Value','totalCount']" [sort]="sort">count</th>
                <th [sortableHeader]="['Value','totalDuration']" [sort]="sort">duration</th>
                <th [sortableHeader]="['Value','avgHourlyRate']" [sort]="sort">hourly</th>
                <th [sortableHeader]="['Value','avgScreenArea']" [sort]="sort">size</th>
                <th [sortableHeader]="['Value','prevDebit']" [sort]="sort">prev</th>
                <th [sortableHeader]="['Value','currentDebit']" [sort]="sort">debit</th>
                <th [sortableHeader]="['Value','currentDebit']" [sort]="sort">balance</th>
            </tr>
            </thead>
            <tbody>
            <tr class="simpleGridRecord" simpleGridRecord (onClicked)="onReportGridItemSelected(item)" *ngFor="let item of summaryReports | OrderBy:sort.field:sort.desc; let index=index" [item]="item" [index]="index">
                <td class="width-md" simpleGridData [processField]="processField('getAbsoluteDate')" [item]="item"></td>
                <td class="width-md" simpleGridData [processField]="processField('getTotalCountFormat')" [item]="item"></td>
                <td class="width-md" simpleGridData [processField]="processField('getTotalDurationFormat')" [item]="item"></td>
                <td class="width-md" simpleGridData [processField]="processField('getAvgHourlyRateFormat')" [item]="item"></td>
                <td class="width-md" simpleGridData [processField]="processField('getAvgScreenAreaFormat')" [item]="item"></td>
                <td class="width-md" simpleGridData [processField]="processField('getPrevDebitFormat')" [item]="item"></td>
                <td class="width-md" simpleGridData [processField]="processField('getCurrentDebitFormat')" [item]="item"></td>
                <td class="width-md" simpleGridData [processField]="processField('getBalanceFormat')" [item]="item"></td>
            </tr>
            </tbody>
        </simpleGridTable>
    </div>
    <div *ngSwitchCase="'SHOW_REPORT'" style="padding: 10px">

        <!-----------------
            report results
        ------------------->
        <hr/>
        <h5>{{selectedReportName | StringJSPipe:stringJSPipeArgs}}</h5>
        <button (click)="goBackToReportSelection()" class="btn pull-right">Back</button>
        <button [ngClass]="{disabled: reportDisabled}"
                *ngIf="switchViewReportReceived == ReportEnum.HOURLY || switchViewReportReceived == ReportEnum.TARGET"
                (click)="onReport('details')" class="btn btn-primary pull-right">Details
        </button>
        <simpleGridTable #simpleGridReportResults>
            <thead>
            <tr>
                <th *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" [sortableHeader]="['Value','customerId']" [sort]="sort">Customer</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" [sortableHeader]="['Value','totalCount']" [sort]="sort">count</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" [sortableHeader]="['Value','totalDuration']" [sort]="sort">duration</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" [sortableHeader]="['Value','totalPrice']" [sort]="sort">hourly</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" [sortableHeader]="['Value','totalPrice']" [sort]="sort">price</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" [sortableHeader]="['Value','totalPrice']" [sort]="sort">size</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" [sortableHeader]="['Value','totalPrice']" [sort]="sort">price * size</th>

                <th *ngIf="switchViewReportReceived == ReportEnum.TARGET" [sortableHeader]="['Value','targetId']" [sort]="sort">Customer</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.TARGET" [sortableHeader]="['Value','targetId']" [sort]="sort">target</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.TARGET" [sortableHeader]="['Value','targetId']" [sort]="sort">type</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.TARGET" [sortableHeader]="['Value','totalCount']" [sort]="sort">count</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.TARGET" [sortableHeader]="['Value','totalDuration']" [sort]="sort">duration</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.TARGET" [sortableHeader]="['Value','totalPrice']" [sort]="sort">hourly</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.TARGET" [sortableHeader]="['Value','totalPrice']" [sort]="sort">price</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.TARGET" [sortableHeader]="['Value','totalPrice']" [sort]="sort">size</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.TARGET" [sortableHeader]="['Value','totalPrice']" [sort]="sort">price * size</th>

            </tr>
            </thead>
            <tbody>
            <tr class="simpleGridRecord" simpleGridRecord (onClicked)="onReportGridItemSelected(item)" *ngFor="let item of resultReports | OrderBy:sort.field:sort.desc; let index=index" [item]="item" [index]="index">
                <td *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" class="width-md" simpleGridData [processField]="processField('getCustomerId')" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" class="width-md" simpleGridData [processField]="processField('getTotalCountFormat')" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" class="width-md" simpleGridData [processField]="processField('getTotalDurationFormat')" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" class="width-md" simpleGridData [processField]="processField('getTotalHourlyFormat')" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" class="width-md" simpleGridData [processField]="processField('getTotalPriceFormat')" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" class="width-md" simpleGridData [processField]="processField('getTotalSizeFormat')" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" class="width-md" simpleGridData [processField]="processField('getTotalPriceSizeFormat')" [item]="item"></td>

                <td *ngIf="switchViewReportReceived == ReportEnum.TARGET" class="width-md" simpleGridData [processField]="processField('getCustomerNameFromId',true)" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.TARGET" class="width-md" simpleGridData [processField]="processField('getTargetNameFromId',true)" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.TARGET" class="width-md" simpleGridData [processField]="processField('getTargetType',true)" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.TARGET" class="width-md" simpleGridData [processField]="processField('getTotalCountFormat',true)" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.TARGET" class="width-md" simpleGridData [processField]="processField('getTotalDurationFormat',true)" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.TARGET" class="width-md" simpleGridData [processField]="processField('getTotalHourlyFormat',true)" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.TARGET" class="width-md" simpleGridData [processField]="processField('getTotalPriceFormat',true)" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.TARGET" class="width-md" simpleGridData [processField]="processField('getTotalSizeFormat',true)" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.TARGET" class="width-md" simpleGridData [processField]="processField('getTotalPriceSizeFormat',true)" [item]="item"></td>

            </tr>
            </tbody>
        </simpleGridTable>
    </div>
    <div *ngSwitchCase="'LOAD_REPORT'" style="padding: 10px">
        <Loading [size]="75" [style]="{'margin-top': '50px'}">
        </Loading>
    </div>
</div>



