<div [ngSwitch]="switchView">
    <div *ngSwitchCase="'SELECT_REPORT'" style="padding: 10px">
        <small class="debug">{{me}}</small>
        <button (click)="onReport()" [ngClass]="{disabled: reportDisabled}"
                class="btn btn-circle btn-primary pull-right">run report
        </button>
        <h4>Select report</h4>
        <p-selectButton [options]="reportTypes" [(ngModel)]="selectedReportName" (onChange)="onReportSummarySelected($event)"></p-selectButton>
        <hr/>
        <!-----------------
            report selector
        ------------------->
        <simpleGridTable #gridReportSource>
            <thead>
            <tr>
                <th sortableHeader="absoluteDate" [sort]="sort">mm/yy</th>
                <th sortableHeader="totalCount" [sort]="sort">count</th>
                <th sortableHeader="totalDuration" [sort]="sort">duration</th>
                <th sortableHeader="avgHourlyRate" [sort]="sort">hourly</th>
                <th sortableHeader="avgScreenArea" [sort]="sort">size</th>
                <th sortableHeader="prevDebit" [sort]="sort">prev</th>
                <th sortableHeader="currentDebit" [sort]="sort">debit</th>
                <th sortableHeader="balance" [sort]="sort">balance</th>
            </tr>
            </thead>
            <tbody>
            <tr class="simpleGridRecord" simpleGridRecord (onClicked)="onReportSummarySelected(item)" *ngFor="let item of summaryReports | OrderBy:sort.field:sort.desc; let index=index" [item]="item" [index]="index">
                <td class="width-md" simpleGridData [processField]="processField('absoluteDate')" [item]="item"></td>
                <td class="width-md" simpleGridData [processField]="processField('totalCount')" [item]="item"></td>
                <td class="width-md" simpleGridData [processField]="processField('totalDuration')" [item]="item"></td>
                <td class="width-md" simpleGridData [processField]="processField('avgHourlyRate')" [item]="item"></td>
                <td class="width-md" simpleGridData [processField]="processField('avgScreenArea')" [item]="item"></td>
                <td class="width-md" simpleGridData [processField]="processField('prevDebit')" [item]="item"></td>
                <td class="width-md" simpleGridData [processField]="processField('currentDebit')" [item]="item"></td>
                <td class="width-md" simpleGridData [processField]="processField('balance')" [item]="item"></td>
            </tr>
            </tbody>
        </simpleGridTable>
    </div>
    <div *ngSwitchCase="'SHOW_REPORT'" style="padding: 10px">

        <!-----------------
            report results
        ------------------->
        <hr/>
        <h5>{{selectedReportName | StringJSPipe:stringJSPipeArgs}}</h5>
        <button (click)="goBackToReportSelection()" class="btn pull-right">Back</button>
        <button *ngIf="switchViewReportReceived == ReportEnum.HOURLY || switchViewReportReceived == ReportEnum.TARGET" (click)="goBackToReportSelection()" class="btn btn-primary pull-right">Details</button>
        <simpleGridTable>
            <thead>
            <tr>
                <th *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" sortableHeader="customerId" [sort]="sort">Customer</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" sortableHeader="totalCount" [sort]="sort">count</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" sortableHeader="totalDuration" [sort]="sort">duration</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" sortableHeader="totalPrice" [sort]="sort">hourly</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" sortableHeader="totalPrice" [sort]="sort">price</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" sortableHeader="totalPrice" [sort]="sort">size</th>
                <th *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" sortableHeader="totalPrice" [sort]="sort">price * size</th>
            </tr>
            </thead>
            <tbody>
            <tr class="simpleGridRecord" simpleGridRecord (onClicked)="onReportResultSelected(item)" *ngFor="let item of resultReports | OrderBy:sort.field:sort.desc; let index=index" [item]="item" [index]="index">
                <td *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" class="width-md" simpleGridData [processField]="processField('customerId')" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" class="width-md" simpleGridData [processField]="processField('totalCount')" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" class="width-md" simpleGridData [processField]="processField('totalDuration')" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" class="width-md" simpleGridData [processField]="processField('totalHourly')" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" class="width-md" simpleGridData [processField]="processField('totalPrice')" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" class="width-md" simpleGridData [processField]="processField('totalSize')" [item]="item"></td>
                <td *ngIf="switchViewReportReceived == ReportEnum.CUSTOMER" class="width-md" simpleGridData [processField]="processField('totalPriceSize')" [item]="item"></td>
            </tr>
            </tbody>
        </simpleGridTable>
    </div>
    <div *ngSwitchCase="'LOAD_REPORT'" style="padding: 10px">
        <Loading [size]="75" [style]="{'margin-top': '50px'}">
        </Loading>
    </div>
</div>