<div>
    <form novalidate autocomplete="off" [formGroup]="contGroup">
        <div class="row">
            <div class="inner userGeneral">
                <div class="panel panel-default greyish" style="height: 100%; margin-right: 10px">
                    <div class="panel-heading">
                        <small class="release">content properties
                            <i style="font-size: 1.4em" class="fa fa-cog pull-right"></i>
                        </small>
                        <small class="debug">{{me}}</small>
                    </div>
                    <div style="padding-top: 5px" *ngIf="adnetContentModels">
                        <ul class="list-group">
                            <li style="padding-bottom: 5px" class="list-group-item">
                                maintain aspect ratio
                                <div class="material-switch pull-right">
                                    <input (change)="onFormChange(customerNetwork2.checked)"
                                           [formControl]="contGroup.controls['maintainAspectRatio']"
                                           id="customerNetwork2" #customerNetwork2
                                           name="customerNetwork2" type="checkbox"/>
                                    <label for="customerNetwork2" class="label-primary"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="input-group">
                                    <span class="input-group-addon">duration</span>
                                    <input [formControl]="contGroup.controls['duration']" required
                                           type="number" class="form-control" min="3" max="60"
                                           placeholder="duration">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="input-group">
                                    <span class="input-group-addon">repetition</span>
                                    <input type="number" [formControl]="contGroup.controls['reparationsPerHour']"
                                           type="number" class="form-control" min="1" max="1200"
                                           class="form-control"
                                           placeholder="repetitions">
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="input-group">
                                    <span class="input-group-addon">location</span>
                                    <input type="number" [formControl]="contGroup.controls['locationLat']"
                                           type="number" class="form-control" min="1"
                                           class="form-control"
                                           placeholder="lat">
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="input-group">
                                    <span class="input-group-addon">location</span>
                                    <input type="number" [formControl]="contGroup.controls['locationLng']"
                                           type="number" class="form-control" min="1"
                                           class="form-control"
                                           placeholder="lng">
                                </div>
                            </li>

                            <li class="list-group-item">
                                <div class="input-group">
                                    <span class="input-group-addon">location</span>
                                    <input type="number" [formControl]="contGroup.controls['locationRadios']"
                                           type="number" class="form-control" min="1"
                                           class="form-control"
                                           placeholder="radius">
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="input-group">
                                    <div *ngIf="!videoSource">
                                        <img class="img-responsive" [src]="imgSource"/>
                                    </div>
                                    <div *ngIf="videoSource">
                                        <h5>video</h5>
                                        <video class="img-responsive" autoplay>
                                            <source [src]="videoSource" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>