<div *ngIf="adnetCustomerModel" class="row">
    <div class="col-xs-2">
        <AdnetNetworkCustomerSelector (onPairsSelected)="onPairSelected($event)"
                                      (onPropSelected)="onPropSelected($event)"
                                      [setAdnetCustomerModel]="adnetCustomerModel">
        </AdnetNetworkCustomerSelector>
    </div>
    <div class="col-xs-10">
        <tabs>
            <tab [tabtitle]="'Packages'">
                <div class="row" *ngIf="pairsOutgoing == true && this.pairsSelected && this.pairsSelected.size > 1">
                    <div class="col-xs-3">
                        <AdnetNetworkPackageEditor (onPropSelected)="onPropSelected($event)"
                                                   (onAdnetTargetsSelected)="onAdnetTargetsSelected($event)"
                                                   (onAdnetPacakgedSelected)="onAdnetPackageSelected($event)"
                                                   [setPairOutgoing]="pairsOutgoing"
                                                   [setAdnetPairModels]="pairsSelected"
                                                   [setAdnetCustomerModel]="adnetCustomerModel">
                        </AdnetNetworkPackageEditor>
                    </div>
                    <div class="col-xs-6">
                        <div style="min-height: 300px; overflow-y: scroll; height: 300px">
                            <AdnetNetworkPackageContent (onPropSelected)="onPropSelected($event)"
                                                        (onAdnetContentSelected)="onAdnetContentSelected($event)"
                                                        [setAdnetPackagePlayMode]="selectedAdnetPackagePlayMode"
                                                        [setAdnetPackageModels]="selectedAdnetPackageModel">
                            </AdnetNetworkPackageContent>
                        </div>
                        <hr/>
                        <AdnetNetworkTarget [setAdnetTargetModels]="selectedAdnetTargetModels"
                                            [setAdnetPackageModels]="selectedAdnetPackageModel"
                                            (onPropSelected)="onPropSelected($event)"
                                            (onAdnetTargetSelected)="onTargetSelected($event)">
                        </AdnetNetworkTarget>
                    </div>
                    <div class="col-xs-3" style="padding-left: 30px; padding-right: 30px">
                        <div style="height: 100%">
                            <div [ngSwitch]="propSelector">
                                <div *ngSwitchCase="adnetNetworkPropSelector.CONTENT">
                                    <AdnetNetworkPackageContentProps
                                            [setAdnetContentModels]="selectedAdnetContentModel">
                                    </AdnetNetworkPackageContentProps>
                                </div>
                                <div *ngSwitchCase="adnetNetworkPropSelector.PACKAGE">
                                    <AdnetNetworkPackageProps
                                            (playModeChanged)="onSetPlayMode($event)"
                                            [setAdnetPackageModels]="selectedAdnetPackageModel">
                                    </AdnetNetworkPackageProps>
                                </div>
                                <div *ngSwitchCase="adnetNetworkPropSelector.RESOURCE">
                                    <small>resource properties</small>
                                </div>
                                <div *ngSwitchCase="adnetNetworkPropSelector.TARGET">
                                    <AdnetNetworkTargetProps [setAdnetTargetModel]="selectedAdnetTargetModel">
                                    </AdnetNetworkTargetProps>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="pairsOutgoing == false || (this.pairsSelected && this.pairsSelected.size == 1)">
                    <div class="col-xs-9">
                        <div style="min-height: 300px; overflow-y: scroll; height: 300px">
                            <div style="overflow-x: scroll">
                                <AdnetNetworkPackageViewer
                                        (onAdnetPackageViewSelected)="onAdnetPackageSelected($event)"
                                        (onAdnetTargetsSelected)="onAdnetTargetsSelected($event)"
                                        (onPropSelected)="onPropSelected($event)"
                                        [setPairOutgoing]="pairsOutgoing"
                                        [setAdnetPairModels]="pairsSelected"
                                        [setAdnetCustomerModel]="adnetCustomerModel">
                                </AdnetNetworkPackageViewer>
                            </div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-xs-6">
                                <div style="overflow-y: auto">
                                    <AdnetNetworkPackageContent (onPropSelected)="onPropSelected($event)"
                                                                (onAdnetContentSelected)="onAdnetContentSelected($event)"
                                                                [setAdnetPackagePlayMode]="selectedAdnetPackagePlayMode"
                                                                [setAdnetPackageModels]="selectedAdnetPackageModel">
                                    </AdnetNetworkPackageContent>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div style="overflow-y: auto">
                                    <AdnetNetworkTarget [setAdnetTargetModels]="selectedAdnetTargetModels"
                                                        [setAdnetPackageModels]="selectedAdnetPackageModel"
                                                        (onPropSelected)="onPropSelected($event)">
                                    </AdnetNetworkTarget>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3" style="padding-left: 30px; padding-right: 30px">
                        <div class="row">
                            <div [ngSwitch]="propSelector">
                                <div *ngSwitchCase="adnetNetworkPropSelector.PAIR">
                                    <AdnetNetworkPairProps [setPairOutgoing]="pairsOutgoing">
                                    </AdnetNetworkPairProps>
                                </div>
                                <div *ngSwitchCase="adnetNetworkPropSelector.CONTENT">
                                    <AdnetNetworkPackageContentProps
                                            [showResourceOnly]="true"
                                            [setAdnetContentModels]="selectedAdnetContentModel">
                                    </AdnetNetworkPackageContentProps>
                                </div>
                                <div *ngSwitchCase="adnetNetworkPropSelector.TARGET">
                                    <h5>AdnetNetworkTarget props</h5>
                                </div>
                                <div *ngSwitchCase="adnetNetworkPropSelector.PACKAGE_VIEW">
                                    <AdnetNetworkPackageViewProps [setAdnetPackageModel]="selectedAdnetPackageModel">
                                    </AdnetNetworkPackageViewProps>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </tab>
            <tab [tabtitle]="'Targets'">
                <div class="row">
                    <div class="bgGreen col-xs-2">B</div>
                    <div class="bgYellow col-xs-2">C</div>
                    <div class="bgRed col-xs-8">D</div>
                </div>
            </tab>
            <tab [tabtitle]="'Estimates'">
                <div class="row">
                    <div class="bgGreen col-xs-6">E</div>
                    <div class="bgYellow col-xs-6">F</div>
                </div>
            </tab>
            <tab [tabtitle]="'Reports'">
                <div class="row">
                    <div class="bgGreen col-xs-5">G</div>
                    <div class="bgYellow col-xs-7">H</div>
                </div>
            </tab>
        </tabs>
    </div>
</div>

