<div *ngIf="adnetCustomerModel" class="row">
    <div class="col-xs-2">
        <AdnetNetworkCustomerSelector (onPairsSelected)="onPairSelected($event)"
                                      [setAdnetCustomerModel]="adnetCustomerModel">
        </AdnetNetworkCustomerSelector>
    </div>
    <div class="col-xs-10">
        <tabs style="height: 500px">
            <tab [tabtitle]="'Packages'">
                <div class="row" *ngIf="pairsOutgoing == true && this.pairsSelected && this.pairsSelected.size > 1">
                    <div class="col-xs-3">
                        <AdnetNetworkPackageEditor #adnetNetworkPackageEditor
                                [setPairOutgoing]="pairsOutgoing"
                                [setAdnetPairModels]="pairsSelected"
                                [setAdnetCustomerModel]="adnetCustomerModel">
                        </AdnetNetworkPackageEditor>
                    </div>
                    <div class="col-xs-6">
                        <AdnetNetworkPackageContent #adnetNetworkPackageContent
                                [setAdnetPackageModels]="adnetNetworkPackageEditor.selectedAdnetPackageModel">
                        </AdnetNetworkPackageContent>
                    </div>
                    <div class="bgRed col-xs-3">
                        <AdnetNetworkPackageContentProps
                            [setAdnetContentModels]="adnetNetworkPackageContent.selectedAdnetContentModel">
                        </AdnetNetworkPackageContentProps>
                    </div>
                </div>
                <div class="row" *ngIf="pairsOutgoing == false || (this.pairsSelected && this.pairsSelected.size == 1)">
                    <div class="col-xs-9">
                        <AdnetNetworkPackageViewer
                                [setPairOutgoing]="pairsOutgoing"
                                [setAdnetPairModels]="pairsSelected"
                                [setAdnetCustomerModel]="adnetCustomerModel">
                        </AdnetNetworkPackageViewer>
                    </div>
                    <div class="bgRed col-xs-3">
                        <h2>aaa</h2>
                    </div>
                </div>
            </tab>
            <tab [tabtitle]="'Targets'">
                <div class="row">
                    <div class="bgGreen col-xs-2">aa</div>
                    <div class="bgYellow col-xs-2">bb</div>
                    <div class="bgRed col-xs-8">cc</div>
                </div>
            </tab>
            <tab [tabtitle]="'Estimates'">
                <div class="row">
                    <div class="bgGreen col-xs-6">aaa</div>
                    <div class="bgYellow col-xs-6">bbb</div>
                </div>
            </tab>
            <tab [tabtitle]="'Reports'">
                <div class="row">
                    <div class="bgGreen col-xs-5">aaaa</div>
                    <div class="bgYellow col-xs-7">bbbb</div>
                </div>
            </tab>
        </tabs>
    </div>
</div>