<div>
        <div class="row">
            <div class="inner userGeneral">
                <div class="panel panel-default tallPanel">
                    <div class="panel-heading">
                        <small class="release">target properties
                            <i style="font-size: 1.4em" class="fa fa-cog pull-right"></i>
                        </small>
                        <small class="debug">{{me}}</small>
                    </div>
                    <accordion [closeOthers]="true">
                        <accordion-group [isOpen]="true" heading="customer">
                            <ul style="font-size: 0.9em" *ngIf="adnetCustomerModel" class="list-group noSpace">
                                <li class="list-group-item"><label>feedback:</label>
                                    <div *ngFor="let item of adnetCustomerModel.reviewRateArr()">
                                        <i class="fa fa-star pull-left"></i>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </li>
                                <li class="list-group-item">contact: {{adnetCustomerModel.getContact()}}</li>
                                <li class="list-group-item">name: {{adnetCustomerModel.getName()}}</li>
                                <li class="list-group-item">cell: {{adnetCustomerModel.contactCell()}}</li>
                                <li class="list-group-item">comments: {{adnetCustomerModel.comments()}}</li>
                                <li class="list-group-item">website: {{adnetCustomerModel.website()}}</li>
                            </ul>
                        </accordion-group>
                        <accordion-group heading="station">
                            <ul style="font-size: 0.9em" *ngIf="adnetTargetModel" class="list-group noSpace">
                                <li class="list-group-item">name: {{adnetTargetModel.getName()}}</li>
                                <li class="list-group-item">keys: {{adnetTargetModel.getKeys()}}</li>
                                <li class="list-group-item">comments: {{adnetTargetModel.getComments()}}</li>
                            </ul>
                        </accordion-group>
                        <accordion-group heading="rate">
                        </accordion-group>
                    </accordion>


                </div>
            </div>
        </div>
</div>