<!--<div class="container">-->
<!--<form [formGroup]="notesForm" (ngSubmit)="onSubmit(notesForm.value)">-->
<!--<div class="row">-->
<!--<div class="col-xs-12">-->
<!--<div class="inner userGeneral tallPanel">-->
<!--<div class="panel panel-default">-->
<!--<div class="panel-heading">for user: {{businessUser && businessUser.getName()}}-->
<!--<i class="fa fa-eye pull-right"></i>-->
<!--</div>-->
<!--<ul class="list-group">-->
<!--<li class="list-group-item">-->
<!--<div ngControlGroup="matchingPassword" [class.invalid]="passwordGroup.touched && !passwordGroup.valid">-->
<!--<div *ngIf="!passwordGroup.valid" class="alert alert-warning alert-dismissible" role="alert">-->
<!--needs matching password 5+ characters-->
<!--</div>-->
<!--<input required id="password" class="longInput form-control" placeholder="password (5+ characters)" type="password" ngControl="password">-->
<!--<input required id="confirmPassword" class="longInput form-control" placeholder="password again" type="password" ngControl="confirmPassword">-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<button type="submit" class="btn btn-default" [disabled]="!notesForm.valid">Submit</button>-->
<!--</form>-->
<!--</div>-->


<div class="container">
    <form [formGroup]="notesForm" (ngSubmit)="onSubmit(notesForm.value)">
        <div class="row">
            <div class="inner userGeneral tallPanel">
                <div class="panel panel-default">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div formGroupName="matchingPassword"
                                 [class.invalid]="passwordGroup.touched && !passwordGroup.valid">
                                <div *ngIf="!passwordGroup.valid" class="alert alert-warning alert-dismissible"
                                     role="alert">
                                    needs matching password 4+ characters
                                </div>
                                <input required id="password" class="longInput form-control"
                                       placeholder="password (4+ characters)" type="password"
                                       formControlName="password">
                                <input required id="confirmPassword" class="longInput form-control"
                                       placeholder="password again" type="password" formControlName="confirmPassword">
                            </div>
                            <!--<p>Valid?: {{notesForm.valid}}</p>-->
                            <!--<pre>{{notesForm.value | json}}</pre>-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!notesForm.valid">Submit</button>
    </form>
</div>
